.block-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    padding:1rem 1rem;

    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
}

.logo-figure{
    border: 1px solid #fff;
}
.logo{
    font-size:3rem ;
}

nav li{
    display: inline-block;
    margin-right:2rem ;
    padding: 1rem;
    text-transform: capitalize;
    transition: all 0.4s;
    
}
nav li:last-child{
    margin-right: 0;
}
nav li:hover{
    background-color: #1913d5;
    border-radius: 0.6rem;

}
nav .nav-link{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
}

/* responsive start here */

@media (max-width:992px) {
    
}

@media (max-width:768px) {
    
}

@media (max-width:600px) {
    html{
        font-size:55.5%;
    }
    header{
        flex-direction: column;
    }
    nav ul{
        padding-left:2.5rem;
    }
    nav li{
        display: block;
        margin-right: 0;
        margin: 1rem 0;
    }
    
}

@media (max-width:400px) {
    
}

















/* responsive ends here */
